/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
    padding: 16px 0;
}

.onyx-icon {
    width: 16px;
    height: 16px;
}

#email {
}

